<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/dark-favorite.css" id="dark-theme-style" class="dark-theme-style">
    <link rel="stylesheet" type="text/css" href="/stylesheets/light-favorite.css" id="light-theme-style" class="light-theme-style">
    <link rel="stylesheet" type="text/css" href="/stylesheets/scroll-bar.css" >

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>

<body>
    <div class="slider-container">
        <div class="slider">
            <!-- Slider içeriği -->
        </div>
        <button class="prev">&#10094;</button>
        <button class="next">&#10095;</button>
    </div>
    
    <script src='/javascripts/check-cookies.js'></script>
    <script src='/javascripts/favorite.js'></script>


</body>

</html>