<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/dark-register.css"  id="dark-theme-style" class="dark-theme-style">
    <link rel="stylesheet" type="text/css" href="/stylesheets/light-register.css"  id="light-theme-style" class="light-theme-style">
    <link rel="stylesheet" type="text/css" href="/stylesheets/scroll-bar.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <title>Caner Film</title>
</head>

<body>
    <div class="register-container">
        <form id="register-form" method="POST" action="/register-user" class="register-form">
            <h3 class="register-logo"><i class="bi bi-film"></i>  Caner<b class="register-bold">Film</b></h3>
            <h4 class="register-title">Siteye Kayıt Ol</h4>
        
            <label class="register-label" for="userName">Kullanıcı Adı:</label>
            <input class="register-input" type="text" id="userName" name="userName" required placeholder="Kullanıcı Adınız">
        
            <label class="register-label" for="email">E-posta:</label>
            <input class="register-input" type="email" id="email" name="email" required placeholder="E-posta Adresiniz">
        
            <label class="register-label" for="password">Şifre:</label>
            <input class="register-input" type="password" id="password" name="password" required placeholder="Şifreniz">
        
            <label class="register-label" for="confirmPassword">Şifre Tekrar:</label>
            <input class="register-input" type="password" id="confirmPassword" name="confirmPassword" required placeholder="Şifrenizi Tekrar Girin">
        
            <label class="register-label" for="name">Adınız:</label>
            <input class="register-input" type="text" id="name" name="name" required placeholder="Adınız">
        
            <label class="register-label" for="lastName">Soyadınız:</label>
            <input class="register-input" type="text" id="lastName" name="lastName" required placeholder="Soyadınız">
        
            <button class="register-button"  type="submit">Kayıt Ol</button>
        </form>
    </div>
    <script src='/javascripts/register.js'></script>
    <script src='/javascripts/check-cookies.js'></script>
    <script src='/javascripts/theme-toggle.js'></script>



</body>
</html>
