
body{
    background-color: #6d6d6d;
}
.update-profile-container {
    background-color: #464646;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom:50px;
}

.update-profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.update-contact-info {
    text-align: left;
    margin-bottom: 30px;
}

.update-contact-info div {
    margin-bottom: 10px;
}

.update-contact-info input[type="text"],
.update-contact-info input[type="email"],
.update-contact-info input[type="number"],
.update-contact-info textarea,
.update-contact-info input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.update-contact-info input[type="file"] {
    border: none;
    padding: 0;
    margin: 0;
    background-color: #fcfcfc;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
#previewImage {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid #ccc; 
  }

.update-contact-info button {
    width: 100%;
    padding: 5px 15px;
    background-color: #00c291;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}
.update-contact-info textarea {
    resize: none; 
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.update-contact-info button:hover {
    background-color: #00a078;
}
.update-contact-info input[type="file"] {
    display: none; 
    
}

.file-input-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.file-input-wrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;

}
.update-label{
    color: white;
}
.file-input-wrapper label {
    display: inline-block;
    padding: 5px 15px;
    text-align: center;
    background-color: #25cea3;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    width: 370px;
}

.file-input-wrapper label:hover {
    background-color: #46dbb6; 
}