body{
    background-color: #6d6d6d;
}
.add-movie-container {
    background-color: #464646;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom:50px;
}
.add-movie-page-counter {
    position: absolute;
    top:160px;
    left:960px;
    margin: 10px;
    color: white;
}
.prevStep2 ,.prevStepFinal{
    margin-bottom:15px;
}
.add-movie-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid #777777; 
}
.add-movie-form-container {
    text-align: left;
    margin-bottom: 30px;
}

.add-movie-form-container div {
    margin-bottom: 10px;
}


.add-movie-form-container input[type="text"],
.add-movie-form-container input[type="email"],
.add-movie-form-container input[type="number"],
.add-movie-form-container textarea,
.add-movie-form-container select,
.add-movie-form-container input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.add-movie-form-container input[type="file"] {
    border: none;
    padding: 0;
    margin: 0;
    background-color: #fcfcfc;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.add-movie-form-container button {
    width: 100%;
    padding: 5px 15px;
    background-color: #00c291;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}


.add-movie-form-container textarea {
    resize: none; 
    width: 100%;
    height: 100px; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.add-movie-form-container button:hover {
    background-color: #00a078;
}
.add-movie-form-container input[type="file"] {
    display: none; 
    
}

.file-input-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.file-input-wrapper input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;

}
.add-movie-label{
    color: white;
}
.file-input-wrapper label {
    display: inline-block;
    padding: 5px 15px;
    text-align: center;
    background-color: #25cea3;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    width: 370px;
}

.file-input-wrapper label:hover {
    background-color: #46dbb6;
}
