/* movie-detail-recommend.css */

.movie-detail-recommend-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    background-color: #b6b6b6;
    border-top: 1px solid rgb(255, 255, 255);
  }
  
  .movie-detail-recommend-header {
    width: 100%;
    color: #434343; 
    margin-bottom: 20px; 
    padding-bottom: 14px;
    padding-left: 15px;
    border-bottom: 1px solid white;
  }
  
  .movie-detail-recommend-movie {
    width: 200px; 
    margin:10px; 
    text-align: center; 
    position: relative; 
    overflow: hidden;
  
  }
  
    
    .movie-detail-recommend-image {
      width: 200px;
      height: 300px;
      object-fit: cover;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease;
    }
    
    .movie-detail-recommend-movie-name,
    .movie-detail-recommend-movie-type,
    .movie-detail-recommend-movie-imdb,
    .movie-detail-recommend-movie-rate,
    .movie-detail-recommend-movie-year {
      position: absolute;
      font-size: 14px;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 6px;
      border-radius: 6px;
      color: #fff;
    }
    
    .movie-detail-recommend-movie-name {
      bottom: 48px;
      left: 14px;
      color: #ffffff;
      font-weight: bold;
    }
    
    .movie-detail-recommend-movie-type {
      bottom: 18px;
      left: 14px;
    }
    
    .movie-detail-recommend-movie-imdb {
      top: 44px;
      right: 10px;
    }
    
    .movie-detail-recommend-movie-rate {
      top: 8px;
      right: 10px;
    }
    
    .movie-detail-recommend-movie-year {
      top: 8px;
      left: 14px;
    }
    
    .bi-translate {
      color: #ff0000; 
    }
    
    .bi-badge-cc-fill {
      color: #ffae00; 
    }
    
    .bi-star {
      color: #ffee00; 
    }
    
    .bi-film {
      color: #00c291;
    }
    
    .bi-calendar3 {
      color: #00af1d;
    }
    
    .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); 
      font-size: 60px;
      color: white;
      z-index: 2;
      opacity: 0;
      transition: opacity 0.3s ease, transform 0.3s ease;
    }
    
    .movie-detail-recommend-movie:hover::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 310px;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 1; 
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    
    .movie-detail-recommend-movie:hover::before,
    .movie-detail-recommend-movie:hover .play-button {
      opacity: 1;
    }
    
    .movie-detail-recommend-movie:hover .movie-detail-recommend-image {
      transform: scale(1.1); 
    }
  
    